<!-- Page setting start -->
{% extends "base.tpl" %}
{% set page = page %}
<!-- Page Language -->
{% set currentLang = "zh-hk" %}
{% block pageTitle %}{{ page[1].page_title_tc }}{% endblock %}
{% block pageClass %}{{ page[1].class_name }}{% endblock %}
<!-- Page setting end -->





{% block content %}
    <div class="wrapper">
<!-- Content start -->
      <div class="slider">
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div> 
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
      </div>
<!-- Content end -->
    </div>

{% endblock %}
