<!-- Page setting start -->
{% extends "base.tpl" %}
{% set page = basic.page %}
<!-- Page Language -->
{% set currentLang = "zh-hk" %}
{% block pageTitle %}{{ page[0].pageTitleTc }}{% endblock %}
{% block pageClass %}{{ page[0].pageClass }}{% endblock %}
<!-- Page setting end -->





{% block content %}
<!-- Content start -->
    <div class="wrapper">
      <div class="slider">
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div> 
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
      </div>
    </div>

<!-- Content end -->
{% endblock %}
