//Custom variables

// Descriptive color variables
$red: red;
$blue: blue;
// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';







