{% extends "base.tpl" %}
{% set page = basic.page %}
{% block pageTitle %}{{ page[1].pageTitleEn }}{% endblock %}
{% block pageClass %}{{ page[1].pageClass }}{% endblock %}




{% block content %}
<div class="wrapper">
  <div class="slider">
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
    <div> 
      <img src="http://placehold.it/1920x768">
    </div>
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
  </div>
</div>

{% endblock %}
