<!-- Page setting start -->
{% extends "base.tpl" %}
{% set page = page %}
<!-- Page Language -->
{% set currentLang = "en" %}
{% block pageTitle %}{{ page[0].page_title_en }}{% endblock %}
{% block pageClass %}{{ page[0].class_name }}{% endblock %}
<!-- Page setting end -->



{% block content %}
    <div class="wrapper">
<!-- Content start -->
      <div class="slider">
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
        <div> 
          <img src="http://placehold.it/1920x768">
        </div>
        <div>
          <img src="http://placehold.it/1920x768">
        </div>
      </div>

<!-- Content end -->
    </div>
{% endblock %}
