{% extends "base.tpl" %}
{% set page = page %}
{% set currentLang = "en" %}
{% block pageLang %}en{% endblock %}
{% block pageTitle %}{{ page[0].page_title_en }}{% endblock %}
{% block pageClass %}{{ page[0].class_name }}{% endblock %}





{% block content %}
<div class="wrapper">
  <h1>Shortcode</h1>

  <section class="gulpData">
    <h2>Use Google Excel export to Json file</h2>
    <h3>Step 1 Install Add-ons</h3>
    <p>Google Excel > Add-ons > Get Add-ons > Search 'Json' > Select 'Export Sheet Data' &amp; Click 'Free'</p>

    <h3>Step 2 How to use</h3>
    <p>Google Excel > Add-ons > Export Sheet Data > Open Sidebar > In 'Json' click 'Export sheet arrays' > Click Export</p>

  </section>

  <section>
    <h2>Basic Style</h2>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <p>Paragraph<sup>Sup</sup><a href="javascript:;">Hyperlink</a><sub>Sub</sub></p>
    <hr />
    <ul>
      <li>List disc</li>
      <li>List disc</li>
      <li>List disc</li>
    </ul>
    <ol>
      <li>List Number</li>
      <li>List Number</li>
      <li>List Number</li>
    </ol>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col border border-dark">
          1 of 2
        </div>
        <div class="col border border-dark">
          2 of 2
        </div>
      </div>
      <div class="row">
        <div class="col border border-dark">
          1 of 3
        </div>
        <div class="col border border-dark">
          2 of 3
        </div>
        <div class="col border border-dark">
          3 of 3
        </div>
      </div>
      <div class="row">
        <div class="col-sm border border-dark">
          One of three columns
        </div>
        <div class="col-sm border border-dark">
          One of three columns
        </div>
        <div class="col-sm border border-dark">
          One of three columns
        </div>
      </div>
      <div class="row">
        <div class="col-md border border-dark">
          One of two columns
        </div>
        <div class="col-md border border-dark">
          One of two columns
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Function</h2>
    <h3>GA trigger event</h3>
    <a class="btn btn-primary" href="#" data-gacat="abc" data-gades="what's is this?" data-galang="{{ currentLang }}">Example for GA event</a>
    <p>Added data-gacat, data-gades &amp; data-galang to button or hyperlink, then will be auto enable GA event.</p>
    <xmp>
      <a class="btn btn-primary" href="#" data-gacat="abc" data-gades="what's is this?" data-galang="{{ currentLang }}">Example for GA event</a>
    </xmp>
    <hr />
  
    <h2>Slider - Slick</h2>
    <div class="slider">
      <div>
        <img src="http://placehold.it/1920x768">
      </div>
      <div>
        <img src="http://placehold.it/1920x768">
      </div>
      <div> 
        <img src="http://placehold.it/1920x768">
      </div>
      <div>
        <img src="http://placehold.it/1920x768">
      </div>
    </div>
    <a class="btn btn-primary" href="http://kenwheeler.github.io/slick/" target="_blank">Offical Website</a>
  </section>
</div>

{% endblock %}
