{% extends "base.tpl" %}
{% set page = basic.page %}
{% block pageTitle %}{{ page[0].pageTitleEn }}{% endblock %}
{% block pageClass %}{{ page[0].pageClass }}{% endblock %}





{% block content %}
<div class="wrapper">
  <div class="slider">
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
    <div> 
      <img src="http://placehold.it/1920x768">
    </div>
    <div>
      <img src="http://placehold.it/1920x768">
    </div>
  </div>

  <div class="collapseContainer">
    <h3 class="collapseTitle">Collapse Expand<span class="collapseTitleIco"></span></h3>
    <div class="collapseinner">
      <p>1234455</p>
      <p>adfaf adsfasffdfa asfdasdffda </p>
    </div>
  </div>
</div>

{% endblock %}
